[color]
    ui = auto
[core]
    pager = less -FMRiX
    excludesfile = /home/zblacher/.gitignore_global
[push]
    default = simple
[diff]
	tool = vimdiff
[difftool]
    prompt = false
[merge]
	tool = vimdiff
[alias]
    amend = commit --amend
    branches = branch -a
    co = checkout
    cob = checkout -B
    dag = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    diffa = whatchanged --diff-filter=A
    ds = diff --staged
    last = log -1 HEAD
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\\ %Cgreen(%cd)%Creset" --decorate --numstat --date=local
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\\ %Cgreen(%cd)%Creset" --decorate --date=local
    unadd = reset HEAD --
	vimdiff = !vim -p `git diff --name-only`
[color "status"]
    branch = magenta
    added = "green "
    changed = "yellow "
[branch]
    autosetuprebase = always
[user]
    name = Zak Blacher
    email = zblach@gmail.com
